.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li{
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-sublist-module{
    padding: 2px;
    padding-left: 50px;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-buttons {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.wd-buttons > button {
  padding: 2px;
  margin: 0px 2px;
  background-color: lightgray;
  color: black;
}

.wd-modules {
    position: relative;
    flex-direction: column;
}

.wd-todo i {
  color: red;
  text-align: center;
  font-size: 1.5em;
}

.wd-todo a {
  color: red;
}

.wd-coming-up i {
  color: gray;
  text-align: center;
  font-size: 1.5em;
}